@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  color: #333;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(800px, 800px) 1fr;
  grid-template-areas:
    '.... header  ....'
    '.... content ....'
    '.... footer  ....';
}

.page-header {
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  grid-area: header;
  display: flex;
  align-items: center;
}

.mb-copy {
  font-family: 'Open Sans', sans-serif;
  grid-area: copy;
  max-width: 500px;
}

.copy-heading {
  font-size: 50px;
}

.copy-body {
  font-size: 22px;
}

.content {
  grid-area: content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mb-phone img {
  height: 500px;
  width: auto;
}

.page-footer {
  grid-area: footer;
  font-size: 12px;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
}
